@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Union Healthcare System</h1>
    <p class="lead">The Union HealthCare System is aimed to provide healthcare services for patients. Also, healthcare services providers such as doctors or hospitals can manage their information of healthcare services on this web application.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search Diseases</h2>
       
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more resources</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Request an appointment</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>